/* ===========
   Login custom css
 =============*/

html, body {
  background-color: #30384b;
}

.logo, .logo i{
  color: white !important;
}

.form-control {
  background-color: #30384b;
  border: 2px solid rgba(238, 238, 238, 0.1);
  border-radius: 4px;
  color: #ffffff;
  height: 36px;
  max-width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}

.form-control:focus {
  background-color: #30384b;
  border: 2px solid rgba(238, 238, 238, 0.3);
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
  color: #ffffff;
}

input.form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-weight: normal;
}

input.form-control:-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-weight: normal;
}

input.form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-weight: normal;
}

input.form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-weight: normal;
}

.wrapper-page .form-control-feedback {
  left: 15px;
  top: 3px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 20px;
}